@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e293b;
}

body {
  color: var(--foreground);
  background-color: #f8fafc;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@theme {
  --color-clinical-blue: #2563eb;
  --color-clinical-green: #10b981;
  --color-clinical-slate: #1e293b;
  
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;
}

input {
  background-color: white;
  color: #1e293b;
}